## Get names of all justices
to compare with webscrape documents.

In [4]:
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd

import html5lib

In [2]:
table = pd.read_html("https://en.wikipedia.org/wiki/List_of_Justices_of_the_Supreme_Court_of_the_United_States")
table = table[1]
df = pd.DataFrame(table)

In [7]:
df.head(2)

,0,1,2,3,4,5,6,7,8,9
0,Justice,State[c],Position,Replacing,Date confirmed (Vote),Tenure,Tenure length[d],Appointed by,NaN,NaN
1,1,NaN,John Jay (1745–1829),NY,001 !Chief Justice,New seat,"000000001789-09-26-0000September 26, 1789 (Acc...","000000001789-10-19-0000October 19, 1789 – June...","7003207900000000000♠5 years, 253 days",George Washington

In [10]:
df.columns = ["ix", "dummy", "name", "State", "position", "replacing", "dateconfirmed", "tenure", "legnth", "Appointedby" ]

In [33]:
df.head(15)

,ix,dummy,name,State,position,replacing,dateconfirmed,tenure,legnth,Appointedby
0,Justice,State[c],Position,Replacing,Date confirmed (Vote),Tenure,Tenure length[d],Appointed by,NaN,NaN
1,1,NaN,John Jay (1745–1829),NY,001 !Chief Justice,New seat,"000000001789-09-26-0000September 26, 1789 (Acc...","000000001789-10-19-0000October 19, 1789 – June...","7003207900000000000♠5 years, 253 days",George Washington
2,2,NaN,John Rutledge (1739–1800),SC,018 !Associate Justice,New seat,"000000001789-09-26-0000September 26, 1789 (Acc...","000000001790-02-15-0000February 15, 1790 – Mar...","7002382000000000000♠1 year, 17 days",NaN
3,3,NaN,William Cushing (1732–1810),MA,019 !Associate Justice,New seat,"000000001789-09-26-0000September 26, 1789 (Acc...","000000001790-02-02-0000February 2, 1790 – Sept...","7003752700000000000♠20 years, 223 days",NaN
4,4,NaN,James Wilson (1742–1798),PA,020 !Associate Justice,New seat,"000000001789-09-26-0000September 26, 1789 (Acc...","000000001789-10-05-0000October 5, 1789 – Augus...","7003324200000000000♠8 years, 320 days",NaN
5,5,NaN,John Blair (1732–1800),VA,021 !Associate Justice,New seat,"000000001789-09-26-0000September 26, 1789 (Acc...","000000001790-02-02-0000February 2, 1790 – Octo...","7003209100000000000♠5 years, 265 days",NaN
6,6,NaN,James Iredell (1751–1799),NC,022 !Associate Justice,New seat,"000000001790-02-10-0000February 10, 1790 (Accl...","000000001790-05-12-0000May 12, 1790 – October ...","7003344800000000000♠9 years, 161 days",NaN
7,7,NaN,Thomas Johnson (1732–1819),MD,023 !Associate Justice,J. Rutledge,"000000001791-11-07-0000November 7, 1791 (Accla...","000000001792-08-06-0000August 6, 1792[e] – Jan...",7002163000000000000♠163 days,NaN
8,8,NaN,William Paterson (1745–1806),NJ,024 !Associate Justice,T. Johnson,"000000001793-03-04-0000March 4, 1793 (Acclamat...","000000001793-03-11-0000March 11, 1793 – Septem...","7003492800000000000♠13 years, 181 days",NaN
9,2,NaN,John Rutledge (1739–1800),SC,002 !Chief Justice,Jay,"000000001795-12-15-0000December 15, 1795 (10–1...","000000001795-08-12-0000August 12, 1795[e] – De...",7002138000000000000♠138 days,NaN
10,9,NaN,Samuel Chase[g] (1741–1811),MD,025 !Associate Justice,Blair,"000000001796-01-27-0000January 27, 1796 (Accla...","000000001796-02-04-0000February 4, 1796 – June...","7003561300000000000♠15 years, 135 days",NaN
11,10,NaN,Oliver Ellsworth (1745–1807),CT,003 !Chief Justice,J. Rutledge,"000000001796-03-04-0000March 4, 1796 (21–1)","000000001796-03-08-0000March 8, 1796 – Decembe...","7003174200000000000♠4 years, 282 days",NaN
12,11,NaN,Bushrod Washington (1762–1829),VA,026 !Associate Justice,Wilson,"000000001798-12-20-0000December 20, 1798 (Accl...","000000001798-11-09-0000November 9, 1798[e] – N...","7004113390000000000♠31 years, 17 days",John Adams
13,12,NaN,Alfred Moore (1755–1810),NC,027 !Associate Justice,Iredell,"000000001799-12-09-0000December 9, 1799 (Accla...","000000001800-04-21-0000April 21, 1800 – Januar...","7003137500000000000♠3 years, 280 days",NaN
14,13,NaN,John Marshall (1755–1835),VA,004 !Chief Justice,Ellsworth,"000000001801-01-27-0000January 27, 1801 (Accla...","000000001801-02-04-0000February 4, 1801 – July...","7004125700000000000♠34 years, 152 days",NaN

In [32]:
x = df.loc[118]['name']
x

'Neil Gorsuch (born 1967)'

In [28]:
y= df.loc[11]['name']
y

'Oliver Ellsworth (1745–1807)'

In [46]:
def lastname(txt):
    lastname = txt.split("(")[0]
    if lastname 
    name = lastname.split()[-1]
    return name

In [47]:
lastname(x)

'Gorsuch'

In [48]:
df.name = df.name.apply(lastname)

In [71]:
df.name

0        Position
1             Jay
2        Rutledge
3         Cushing
4          Wilson
5           Blair
6         Iredell
7         Johnson
8        Paterson
9        Rutledge
10       Chase[g]
11      Ellsworth
12     Washington
13          Moore
14       Marshall
15        Johnson
16     Livingston
17           Todd
18         Duvall
19          Story
20       Thompson
21        Trimble
22         McLean
23        Baldwin
24          Wayne
25          Taney
26        Barbour
27         Catron
28       McKinley
29         Daniel
          ...
90          Clark
91         Minton
92         Warren
93             II
94        Brennan
95      Whittaker
96        Stewart
97          White
98       Goldberg
99         Fortas
100      Marshall
101        Burger
102      Blackmun
103           Jr.
104     Rehnquist
105       Stevens
106      O'Connor
107     Rehnquist
108        Scalia
109       Kennedy
110        Souter
111        Thomas
112      Ginsburg
113        Breyer
114       Roberts
115         Alito
116     Sotomayor
117         Kagan
118       Gorsuch
119      Position
Name: name, Length: 120, dtype: object

In [72]:
names = list(df.name.unique())

In [73]:
names.pop(0)

'Position'

In [74]:
names.remove('Jr.')

In [75]:
names.remove('II')

In [76]:
other = ['Shiras', 'Holmes', 'Brennan', 'Powell' , 'Harlan', 'Lamar']

In [77]:
justices = names + other

In [78]:
justices.remove('Chase[g]')

In [6]:
justices = pd.read_csv('justices.csv', header = None)
justices

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,100,101,102,103,104,105,106
0,Jay,Rutledge,Cushing,Wilson,Blair,Iredell,Johnson,Paterson,Ellsworth,Washington,...,Alito,Sotomayor,Kagan,Gorsuch,Shiras,Holmes,Brennan,Powell,Harlan,Lamar

In [9]:
justices.loc[0] = justices.loc[0].str.upper()

In [10]:
justices

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,100,101,102,103,104,105,106
0,JAY,RUTLEDGE,CUSHING,WILSON,BLAIR,IREDELL,JOHNSON,PATERSON,ELLSWORTH,WASHINGTON,...,ALITO,SOTOMAYOR,KAGAN,GORSUCH,SHIRAS,HOLMES,BRENNAN,POWELL,HARLAN,LAMAR

In [90]:
import csv
with open("justices.csv","w",newline="") as f: 
    cw = csv.writer(f)
    cw.writerow(justices)

In [2]:
for r in justices:
    print (r)

NameError: name 'justices' is not defined